<!-- Small boxes (Stat box) -->
<div th:fragment="stat-box" class="row">
	<div class="col-lg-3 col-6">
		<!-- small box -->
		<div class="small-box bg-info">
			<div class="inner">
				<h3 th:text="${cocteles.size()}"></h3>

				<p>Cocteles</p>
			</div>
			<div class="icon">
				<i class="nav-icon fas fa-glass-martini"></i>
			</div>
			<a th:href="@{'/forms/listarCocteles'}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-6">
		<!-- small box -->
		<div class="small-box bg-success">
			<div class="inner">
				<h3 th:text="${pedidos.size()}"></h3>

				<p>Pedidos</p>
			</div>
			<div class="icon">
				<i class="nav-icon fas fa-dollar-sign"></i>
			</div>
			<a th:href="@{'/forms/listarPedidos'}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-6">
		<!-- small box -->
		<div class="small-box bg-warning">
			<div class="inner">
				<h3 th:text="${ingredientes.size()}"></h3>

				<p>Ingredientes</p>
			</div>
			<div class="icon">
				<i class="nav-icon fas fa-lemon"></i>
			</div>
			<a th:href="@{'/forms/listarIngredientes'}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->
	<div class="col-lg-3 col-6">
		<!-- small box -->
		<div class="small-box bg-danger">
			<div class="inner">
				<h3 th:text="${usuarios.size()}"></h3>

				<p>Usuarios</p>
			</div>
			<div class="icon">
				<i class="ion ion-person-add"></i>
			</div>
			<a th:href="@{'/forms/listarUsuarios'}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<!-- ./col -->
</div>